{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base_not_log.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}
	<div class="page-header">
    	<h1>Error 404 - Recurso no encontrado </h1>
    </div>

    {# example security usage, see below #}
    <!-- {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %} -->

    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3">
            <img src="{{ asset('images/missing.png') }}" style="width:100%; border-radius: 5px;" class="img-responsive pull-right">
        </div>

        <div class="col-lg-9 col-sm-9 col-xs-9">
            <div class="jumbotron">
                <p>
                    El recurso que ha solicitado no se encuentra disponible o no existe. Verifique si tiene algún error en la URL o <a href="{{ path('sic_homepage') }}">regrese a la página de inicio</a>.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}