{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6"><small class="text-info">ant. Miembros del Grupo Familiar</small></div>
        <div class="col-xs-6 text-right"><small class="text-info">sig. Situación Vivienda</small></div>
    </div>
    <div class="progress">
      <div class="progress-bar active progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        Paso 4 de 9
      </div>
    </div>

    <h2>Situación Económica</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Registrar Sitación Económica y Continuar" />
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown')
              .dropdown();
        })
    </script>
{% endblock %}
