{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminVentaVivienda creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Crear Nuevo Articulo Venta Vivienda" />
    {{ form_end(form) }}
{% endblock %}
