{% extends "base_login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="col-lg-4 col-sm-4" style="float: none; margin: 117px auto; text-align: center;">
        <div class="page-header blanco" style="text-align: center;">
            <img src="{{ asset('images/logo.png') }}" >
        </div>
        <div>
            <p class="mensaje"><i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>Ya has solicitado la recuperáción de contraseña, por favor revisa tu bandeja de entrada o comunicate con el administrador.</p>
            <a class="btn btn-login btn-lg btn-block btn-password-already" href="{{ path('fos_user_security_login') }}">IR AL INICIO DE SESIÓN</a>
        </div>
    </div>
    
</div>
{% endblock body %}
