{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Estado Civil</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Estado Civil</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminEstadoCivil in adminEstadoCivils %}
                <tr>
                    <td>{{ adminEstadoCivil.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_estado_civil_edit', { 'id': adminEstadoCivil.id }) }}"><i class="fa fa-edit fa-fw"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('configurable_estado_civil_new') }}" id="forModal"><i class="fa fa-plus fa-fw"></i> Agregar Estado Civil</a>
{% endblock %}
