{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Aguas Servidas</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminAguasServida in adminAguasServidas %}
                <tr>
                    <td>{{ adminAguasServida.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurables_tipos_aguas_servidas_edit', { 'id': adminAguasServida.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <a class="btn btn-primary" href="{{ path('configurables_tipos_aguas_servidas_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nuevo</a>
{% endblock %}
