{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agregar Consejo Comunal</h1>

    <span id="modalCuerpo">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-save"></i> Guardar Datos</button>
    {{ form_end(form) }}
    </span>
{% endblock %}
