{% extends 'base.html.twig' %}

{% block body %}
    <h1>ConsejoComunal creation</h1>

    <span id="modalCuerpo">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}
    </span>
    
    <ul>
        <li>
            <a href="{{ path('consejocomunal_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
