{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Tipo de Plagas</div>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminTipoPlaga in adminTipoPlagas %}
                <tr>
                    <td>{{ adminTipoPlaga.nombre }}</td>
                    <td><a id="forModalEdit" href="{{ path('configurables_tipo_plagas_edit', { 'id': adminTipoPlaga.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        

    <a class="btn btn-primary" href="{{ path('configurables_tipo_plagas_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nuevo</a>
{% endblock %}
