{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminProfesion creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Agregar Profesión" />
    {{ form_end(form) }}
{% endblock %}
