{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="button" id="enviarMesanjes" class="btn btn-block btn-success"> <i class="fa fa-send-o"></i> Enviar Masivo a los Miembro de la Comunidad</button>
    {{ form_end(form) }}
{% endblock %}
