{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Salubridad Vivienda</div>
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminSalubridadVivienda in adminSalubridadViviendas %}
                <tr>
                    <td>{{ adminSalubridadVivienda.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_tipo_salubridad_edit', { 'id': adminSalubridadVivienda.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('configurable_tipo_salubridad_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nueva</a>
{% endblock %}
