{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Nivel Instruccion</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for adminNivelInstruccion in adminNivelInstruccions %}
                <tr>
                    <td>{{ adminNivelInstruccion.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_nivel_instruccion_edit', { 'id': adminNivelInstruccion.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <a class="btn btn-primary" href="{{ path('configurable_nivel_instruccion_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nivel de Instrucción</a>
{% endblock %}
