{% extends 'base_not_log.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
				<div class="row">
					<div class="col-lg-12">
						<h1><i class="fa fa-hand-paper-o"></i> Disculpe</h1>
						<p>{{ mensaje }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
