<div class="col-lg-3 col-sm-3">
	<h3 class="text-center text-info">Opciones</h3>
	<hr>
	<div class="list-group">
		<a href="{{ path('estadisticas_generales_personas') }}" class="list-group-item" id="personas">
			<h4 class="list-group-item-heading">Personas Comunidad</h4>
			<p class="list-group-item-text hidden-sm">Caracteristicas de los miembros de la comunidad, incluyendo Jefes de Grupos Familiares</p>
		</a>

		<a href="{{ path('estadisticas_generales_grupos_familiares') }}" class="list-group-item" id="grupo_familiar">
			<h4 class="list-group-item-heading">Grupos Familiares</h4>
			<p class="list-group-item-text hidden-sm">Cuando se eliminan noticias manualmente, la cantidad de noticias no puede ser menor que la frecuencia del termino en la coleccion. Esta opci칩n ajusta esa frecuencia.</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Econ칩mia</h4>
			<p class="list-group-item-text hidden-sm">Defina cuantos centroides habr치n.</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Vivienda</h4>
			<p class="list-group-item-text hidden-sm">Retorna una tabla con la cantidad de miembros pertenecientes a cada cluster</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Salud</h4>
			<p class="list-group-item-text hidden-sm">Examine los clusters y las noticias que los conforman</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Servicios</h4>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Participaci칩n Comunitaria</h4>
		</a>
	</div>
</div>