<div class="col-lg-3 col-sm-3">
	<h3 class="text-center text-info">Opciones</h3>
	<hr>
	<div class="list-group">
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">Personas Comunidad</h4>
			<p class="list-group-item-text hidden-sm">Caracteristicas de los miembros de la comunidad, incluyendo Jefes de Grupos Familiares</p>
		</a>

		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">Ajustar Frecuencias</h4>
			<p class="list-group-item-text hidden-sm">Cuando se eliminan noticias manualmente, la cantidad de noticias no puede ser menor que la frecuencia del termino en la coleccion. Esta opción ajusta esa frecuencia.</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Número de Clusters</h4>
			<p class="list-group-item-text hidden-sm">Defina cuantos centroides habrán.</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Calcular K-Medias</h4>
			<p class="list-group-item-text hidden-sm">Retorna una tabla con la cantidad de miembros pertenecientes a cada cluster</p>
		</a>

		<a href="#" data-url="#" class="list-group-item">
			<h4 class="list-group-item-heading">Grupos</h4>
			<p class="list-group-item-text hidden-sm">Examine los clusters y las noticias que los conforman</p>
		</a>

		<a href="#" data-url="#" class="list-group-item list-group-item-default">
			<h4 class="list-group-item-heading">Estádisticas</h4>
		</a>
	</div>
</div>