{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Tipo Enseres</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminTipoEnsere in adminTipoEnseres %}
                <tr>
                    <td>{{ adminTipoEnsere.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_tipo_enseres_edit', { 'id': adminTipoEnsere.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('configurable_tipo_enseres_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nuevo</a>
{% endblock %}
