{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Clasificación Ingreso Familiar</div>
        <table class="table-bordered table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminClasIngresoFamiliar in adminClasIngresoFamiliars %}
                <tr>
                    <td>{{ adminClasIngresoFamiliar.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_clasificacion_ingreso_familiar_edit', { 'id': adminClasIngresoFamiliar.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('configurable_clasificacion_ingreso_familiar_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Clasificación Ingreso Familiar</a>
{% endblock %}
