{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Tipo Trabajo</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminUbicacionTrabajo in adminUbicacionTrabajos %}
                <tr>
                    <td>{{ adminUbicacionTrabajo.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_ubicacion-trabajo_edit', { 'id': adminUbicacionTrabajo.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        

    <a class="btn btn-primary" href="{{ path('configurable_ubicacion-trabajo_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nueva</a>
{% endblock %}
