{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminUbicacionTrabajo creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-block btn-primary" type="submit" value="Crear Nuevo Tipo Trabajo" />
    {{ form_end(form) }}
{% endblock %}
