{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Tipo de Gas</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminTipoGa in adminTipoGas %}
                <tr>
                    <td>{{ adminTipoGa.nombre }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurables_tipos_gas_edit', { 'id': adminTipoGa.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{{ path('configurables_tipos_gas_new') }}" id="forModal"><i class="fa fa-plus"></i> Agregar Nuevo Tipo de Gas</a>
{% endblock %}
