{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Situación Comunitaria</h1>
    <hr>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Guardar Datos y regresar a la Planilla" />
    {{ form_end(edit_form) }}
{% endblock %}
