{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminNacionalidad creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Agregar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_nacionalidad_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
