{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-lg-1 col-sm-3 col-xs-2"><img src="{{ asset('images/FlatIcons/summary.png') }}" class="img img-responsive" alt="Resumen"></div>
                    <div class="col-lg-11 col-sm-9 col-xs-10">
                        <h2>Sistema de Información Comunal</h2>
                        <p style="font-size: 1.3em;">Sistema de apoyo para manejo, comunicación, centralización y caracterización de la información comunitaria</p>
                        {# <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                        <p>To see the difference between static and fixed top navbars, just scroll.</p>
                        <p>
                            <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs</a>
                        </p> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
