{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Registro Preliminar</h2>
            <p>And it's hard to dance with the devil on your back so shake him out.</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
