{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Resumen Censo Demográfico</h2>
            <p>I'm not calling you a liar. I love you so much, Im gonna let you kill me.'</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
